on early-init
    loglevel 3
    exec_background u:r:modprobe:s0 -- /system/bin/modprobe -a -d /system_dlkm/lib/modules --all=/system_dlkm/lib/modules/modules.load
    exec_background u:r:vendor_modprobe:s0 -- /vendor/bin/modprobe -a -d /vendor/lib/modules --all=/vendor/lib/modules/modules.load

on init
    exec_background u:r:vendor_modprobe:s0 -- /vendor/bin/modprobe -a -d /vendor/lib/modules mali_kbase

on post-fs-data
    insmod /vendor/lib/modules/aml_hardware_dmx.ko

on boot
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor interactive
    write /sys/module/amvdec_mh264/parameters/reorder_dpb_size_margin 9
    write /sys/module/amvdec_h265/parameters/dynamic_buf_num_margin 9
    write /sys/module/amvdec_vp9/parameters/max_buf_num 12
    write /sys/module/decoder_common/parameters/v4lvideo_add_di 0
    write /sys/class/di_process/di_proc_enable 1
    ## AP6356S for 5G settings
    write /proc/sys/net/core/rmem_max 12582912
    write /proc/sys/net/core/wmem_max 12582912
    write /proc/sys/net/core/rmem_default 2097152
    write /proc/sys/net/core/wmem_default 2097152

on property:sys.boot_completed=1
    # end boot time fs tune
    #write /sys/block/mmcblk0/queue/read_ahead_kb 128
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor interactive
    write /dev/cpuset/background/cpus 3
    write /dev/cpuset/restricted/cpus 3

on early-init
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor performance
