import /vendor/etc/init/hw/init.amlogic.usb.rc
import /vendor/etc/init/hw/init.amlogic.board.rc
import /vendor/etc/init/hw/init.amlogic.wifi.rc
import /vendor/etc/init/hw/init.amlogic.media.rc
import /vendor/etc/init/hw/init.amlogic.wifi_buildin.rc

on init
    # 30 means reserve 3% memory using for high water mark, 1GB DDR x 3% = 30MB
    write /proc/sys/vm/watermark_scale_factor 30
    # 12288 KB
    write /proc/sys/vm/min_free_kbytes 12288

    # Init the unifykeys
    write /sys/class/unifykeys/attach 1
    chmod 666 /dev/video_composer.0
    chmod 666 /dev/video_composer.1

on boot
    chown system graphics /sys/module/fb/parameters/osd_logo_index
    chmod 0660 /sys/module/fb/parameters/osd_logo_index

    chmod 0666 /sys/class/tsync_pcr/tsync_vpts_adjust
    chmod 0666 /sys/class/amstream/reset_audio_port

    # HDMI/LCD switch
    chown media system /sys/class/switch/hdmi/state
    chmod 0660 /sys/class/switch/hdmi/state
    chown media system /sys/devices/virtual/switch/hdmi/state
    chmod 0660 /sys/devices/virtual/switch/hdmi/state
    chmod 666 /dev/v4lvideo

    # Thermal
    chown system system /sys/class/thermal/thermal_zone0/mode
    chown system system /sys/class/thermal/thermal_zone1/mode
    chmod 664 /sys/class/thermal/thermal_zone0/mode
    chmod 664 /sys/class/thermal/thermal_zone1/mode

    # Power
    chmod 664 /sys/power/early_suspend_trigger
    chown root system /sys/power/early_suspend_trigger

    # vfm map
    chown media  system /sys/class/vfm/map
    chmod 666 /sys/class/vfm/map
    write /sys/class/vfm/map "rm default"
    write /sys/class/vfm/map "add default decoder ppmgr deinterlace amvideo"

service fuse_sdcard1 /system/bin/sdcard -u 1023 -g 1023 /mnt/media_rw/sdcard1 /storage/sdcard1
    class late_start
    disabled

service fuse_udisk0 /system/bin/sdcard -u 1023 -g 1023 /mnt/media_rw/udisk0 /storage/udisk0
    class late_start
    disabled

service fuse_udisk1 /system/bin/sdcard -u 1023 -g 1023 /mnt/media_rw/udisk1 /storage/udisk1
    class late_start
    disabled

service fuse_sr0 /system/bin/sdcard -u 1023 -g 1023 /mnt/media_rw/sr0 /storage/sr0
    class late_start
    disabled

service fuse_loop /system/bin/sdcard -u 1023 -g 1023 /mnt/media_rw/loop /storage/loop
    class late_start
    disabled

service remotecfg /vendor/bin/remotecfg /vendor/etc/remote.conf
    class main
    oneshot
    seclabel u:r:remotecfg:s0

service hdcp_tx22 /vendor/bin/hdcp_tx22 \
    -f /odm/etc/firmware/firmware.le
    class main
    disabled
    oneshot

service bugreport /system/bin/dumpstate -d -p -B -z \
    -o /data/user_de/0/com.android.shell/files/bugreports/bugreport
    class main
    disabled
    oneshot

on property:sys.boot_completed=1
    # Enable ZRAM on boot_complete
    swapon_all /vendor/etc/fstab.amlogic
    start factoryreset
