on boot
    chmod 666 /sys/class/vdec/poweron_clock_level
    chmod 666 /sys/class/codec_mm/tvp_enable
    chown mediacodec mediadrm /sys/class/codec_mm/tvp_enable
    chown mediacodec system /sys/class/codec_mm/config
    chown mediacodec system /sys/class/codec_mm/fastplay_enable
    chown media system /sys/module/amvdec_mpeg12/parameters/dec_control
    chown media system /sys/module/amvideo/parameters/smooth_sync_enable
    chown system camera /dev/ge2d
    chmod 660 /sys/class/secmem/secmem_mm_config
    chown mediacodec system /sys/class/secmem/secmem_mm_config

    write /sys/module/stream_input/parameters/def_vstreambuf_sizeM 10
    write /sys/module/stream_input/parameters/def_4k_vstreambuf_sizeM 15
    write /sys/devices/platform/ffe40000.bifrost/dvfs_period 50

on fs
    write /sys/module/firmware_class/parameters/path "/vendor/lib/firmware/"
